In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,lit

In [2]:
spark = SparkSession.builder\
        .appName("Lab 2")\
        .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/08/07 09:28:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
data = [
    ("Alice", 34, "F"),
    ("Bob", 45, "M"),
    ("Catherine", 29, "F"),
    ("David", 55, "M"),
    ("Eva", 31, "F"),
    ("Yash", 21, "M"),
    ("Dipanshu", 20, "M"),
    ("Rhea", 20, "F"),
    ("Anku", 27, "M"),
    ("Anita", 56, "F")
]
columns = ["Name", "Age", "Gender"]

In [4]:
df = spark.createDataFrame(data, schema=columns)

/home/lplab/.local/lib/python3.10/site-packages/pandas/core/arrays/masked.py:62: UserWarning: Pandas requires version '1.3.4' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [12]:
filtered_df = df.filter(col("Gender") == "F")
filtered_df.show()

+---------+---+------+
|     Name|Age|Gender|
+---------+---+------+
|    Alice| 34|     F|
|Catherine| 29|     F|
|      Eva| 31|     F|
|     Rhea| 20|     F|
|    Anita| 56|     F|
+---------+---+------+

In [6]:
new_df = df.withColumn("Adult",lit("Yes"))
new_df.show()

+---------+---+------+-----+
|     Name|Age|Gender|Adult|
+---------+---+------+-----+
|    Alice| 34|     F|  Yes|
|      Bob| 45|     M|  Yes|
|Catherine| 29|     F|  Yes|
|    David| 55|     M|  Yes|
|      Eva| 31|     F|  Yes|
|     Yash| 21|     M|  Yes|
| Dipanshu| 20|     M|  Yes|
|     Rhea| 20|     F|  Yes|
|     Anku| 27|     M|  Yes|
|    Anita| 56|     F|  Yes|
+---------+---+------+-----+

In [7]:
filtered_count = filtered_df.count()
filtered_df.show()
print(f"Total Rows in filtered Dataframe = {filtered_count}")

+---------+---+------+
|     Name|Age|Gender|
+---------+---+------+
|    Alice| 34|     F|
|Catherine| 29|     F|
|      Eva| 31|     F|
|     Rhea| 20|     F|
|    Anita| 56|     F|
+---------+---+------+

Total Rows in filtered Dataframe = 5

In [8]:
from pyspark.sql.functions import sum as total_sum, avg
total_age = df.select(total_sum("Age")).collect()[0][0]
avg_age = df.select(avg("Age")).collect()[0][0]
df.show()
print(f"Average Age = {avg_age} & total age = {total_age}")

+---------+---+------+
|     Name|Age|Gender|
+---------+---+------+
|    Alice| 34|     F|
|      Bob| 45|     M|
|Catherine| 29|     F|
|    David| 55|     M|
|      Eva| 31|     F|
|     Yash| 21|     M|
| Dipanshu| 20|     M|
|     Rhea| 20|     F|
|     Anku| 27|     M|
|    Anita| 56|     F|
+---------+---+------+

Average Age = 33.8 & total age = 338

In [9]:
output_path = "output/dataframe_output.csv"
df.write\
    .mode("overwrite")\
    .option("header", "true")\
    .csv(output_path)

In [11]:
from pyspark.sql.functions import explode, split, col
txt = spark.read.text('./sample_text.txt')
words_txt = txt.select(
    explode(
        split(col("value"), "\\s+")
    ).alias("word")
)
word_counts_txt = words_txt.groupBy("word").count()
word_counts_txt.show()

+----------+-----+
|      word|count|
+----------+-----+
|       for|    2|
|  powerful|    1|
|     great|    1|
|     other|    1|
|        is|    2|
|      data|    2|
|     Hello|    3|
|       the|    1|
|      tool|    1|
|      from|    2|
|   PySpark|    2|
|     world|    2|
|     Spark|    1|
|         a|    1|
|          |    2|
|      side|    1|
|processing|    2|
|       big|    2|
+----------+-----+